config LEDS_SM5350
	tristate "LED support for SM5350"
	depends on LEDS_CLASS
	depends on I2C
	default n
	help
	  Say Y here if you have a sm5350 compatible
	  device connected.

	  This driver can also be built as a module.  If so, the module
	  will be called sm5350_bl.
