#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FTS_0FLASH_MMI_V2
    tristate "Focaltech 0flash MMI Touchscreen V2"
    default n
    help
      Say Y here if you have Focaltech 0flash  MMI V2 touch panel.
      If unsure, say N.

config TOUCHSCREEN_FTS_DIRECTORY
    string "Focaltech ts directory name"
    default "focaltech_touch"
    depends on TOUCHSCREEN_FTS

